flows.json
[{"id":"d38629ec.02f648","type":"tab","label":"aman bot","disabled":false,"info":""},{"id":"59fe2087.1b46e","type":"ui_form","z":"d38629ec.02f648","name":"","label":"","group":"650b1df3.c46654","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":200,"wires":[["cc9deff1.0dd3c"]]},{"id":"cc9deff1.0dd3c","type":"function","z":"d38629ec.02f648","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":260,"wires":[["ac07ac53.ff535","53a4bd85.b12e74"]]},{"id":"ac07ac53.ff535","type":"ui_text","z":"d38629ec.02f648","group":"650b1df3.c46654","order":2,"width":0,"height":0,"name":"","label":"User input","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":360,"wires":[]},{"id":"53a4bd85.b12e74","type":"watson-conversation-v1","z":"d38629ec.02f648","name":"miscella9eous","workspaceid":"d9a4f8e9-8ebc-491c-9e3f-876cca28ade5","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/41211936-8d0f-4b0c-9f63-0424b9ea0bed","timeout":"","optout-learning":false,"x":320,"y":180,"wires":[["ee5db53f.7f1df8","95149dea.8f28b"]]},{"id":"95149dea.8f28b","type":"debug","z":"d38629ec.02f648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":260,"wires":[]},{"id":"ee5db53f.7f1df8","type":"function","z":"d38629ec.02f648","name":"output parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n     msg.url=msg.payload.output.generic[0].source\n     \n}\nelse {\n    msg.payload = msg.payload.output.generic[0].text\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["3b3afa57.ccfd56","7d9ace68.d9522","27175a93.b5b726"]]},{"id":"3b3afa57.ccfd56","type":"ui_text","z":"d38629ec.02f648","group":"650b1df3.c46654","order":3,"width":0,"height":0,"name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":140,"wires":[]},{"id":"7d9ace68.d9522","type":"ui_template","z":"d38629ec.02f648","group":"650b1df3.c46654","name":"","order":4,"width":"6","height":"6","format":"<img ng=src={msg.url} alt =\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":660,"y":20,"wires":[[]]},{"id":"27175a93.b5b726","type":"ui_audio","z":"d38629ec.02f648","name":"","group":"650b1df3.c46654","voice":"en-US","always":"","x":400,"y":20,"wires":[]},{"id":"650b1df3.c46654","type":"ui_group","z":"","name":"UI","tab":"bd4a896f.a1bce8","order":1,"disp":true,"width":"6","collapse":false},{"id":"bd4a896f.a1bce8","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]